<div fxLayout ="row wrap">

  <div fxFlex>

    <div fxLayout="column">

      <div>
        <img src="./assets/whereswaldo.jpg"/>
      </div>

      <div>
        <em>
          Photo taken by Eunice Lim from her own book collection.
        </em>
      </div>
    </div>
  </div>

    <div fxFlex>
       <h1 class="blue">Who is Martin Handford?</h1>

        <p>English illustrator Martin Handford, best known for his Where's Wally books.
             Known as Where's Waldo in America, it is a puzzle picture book that challenges the reader to search for Wally(Waldo)
             on the page. Wally is always in a red and white striped shirt with a matching bobble hat and glasses.
             He is hidden amongst throngs of people doing funny things at a location that can range from the beach to space.
             Where's Wally got so popular that an animated series was created after the books, a comic strip, and a series of
             video games. Handford describes Wally as a world traveler and time travel aficionado and has a dog named Woof with him.
             His friends can also be found in the books; Wilma, Wenda, Wizard Whitebeard and The Wally Watchers.
             He even has a nemesis, Odlaw. (Wikipedia contributors, 2021)
            </p>
            <em>Biography extracted from: <a href="https://en.wikipedia.org/wiki/Where%27s_Wally%3F" target="_blank"
              class="attribution-link">Wikipedia</a></em>
      </div>
  </div>

