<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

    <br />

      <mat-card-content class="align-center">
          <p>
            One Embassy Gardens
            8 Viaduct Gardens
            London SW11 7BW
          </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: +44-0-20-7010-3000
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit Penguin Random House to get a book today!
  </p>
</div>
